                * {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }
                /*
    Green:  #5cc500 
*/
                /*-------Basic Set Up-----*/
                
                body {
                    font-family: 'Poppins', 'Arial', sans-serif;
                    text-rendering: optimizeLegibility;
                }
                /*---------Header--------*/
                
                #nav-bar {
                    margin: 25px 75px 50px 75px;
                    display: flex;
                }
                
                h1 {
                    font-size: 30px;
                    font-weight: normal;
                }
                
                #eats {
                    font-weight: bold;
                    color: #5cc500;
                    padding-left: 5px;
                }
                
                #Sign-In {
                    margin-left: auto;
                    font-weight: 400;
                    margin-top: 10px;
                    margin-right: 20px;
                    float: right;
                    padding-bottom: 20px;
                }
                
                #sign-in-link:link {
                    text-decoration: none;
                }
                
                #sign-in-link:visited {
                    color: black;
                }
                
                #hero-image-container {
                    display: flex;
                    justify-content: space-between;
                    background-color: #e78e76;
                }
                
                .banner {
                    position: static;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 500px;
                    transform: scale(1.15);
                }
                
                #hero-text {
                    position: absolute;
                    top: 40%;
                    left: 30%;
                }
                
                h2 {
                    font-weight: 400;
                    font-size: 35px;
                }
                
                #navigate {
                    position: relative;
                    display: block;
                    z-index: 3;
                    top: 63px;
                    left: 10px;
                    height: 30px;
                    width: 30px;
                }
                
                #delivery-address {
                    padding: 20px 20px 20px 50px;
                    position: relative;
                    border: none;
                    font-size: 20px;
                    color: black;
                    width: 550px;
                    height: 45px;
                    background-color: white;
                }
                /*---- box-shadow: 1px 1px #888888;-----*/
                
                .btn {
                    display: inline-block;
                    position: relative;
                    padding: 10px 14px 0 14px;
                    margin: 25px 0 0 10px;
                    width: 108px;
                    height: 45px;
                    font-weight: 300;
                    font-size: 17px;
                    background-color: #000;
                    color: #fff;
                    transition: background-color 0.2s, 0.2s color 0.2s;
                    text-decoration: none;
                }
                
                .btn:hover {
                    background-color: grey;
                }
                /*---------Food Delivery--------*/
                
                .row {
                    margin: 70px 20px 50px 70px;
                }
                
                h3 {
                    font-size: 25px;
                    font-weight: 400;
                }
                
                #food-container {
                    display: flex;
                    justify-content: space-between;
                }
                
                .arrows {
                    display: flex;
                    margin-right: 50px;
                }
                
                .arrow-left {
                    margin: 2px;
                    border-radius: 50%;
                    width: 40px;
                    padding: 0 16px;
                    font-size: 28px;
                    background-color: rgba(220, 220, 220, 0.527);
                }
                
                .arrow-right {
                    margin: 2px;
                    border-radius: 50%;
                    width: 40px;
                    padding: 0 17px;
                    font-size: 28px;
                    background-color: rgba(220, 220, 220, 0.527);
                }