* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
    
    Light green: #48b900
    
    */


/*-------Basic Set Up-----*/

html,
body {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-rendering: optimizeLegibility;
}


/*---------- Reusable Components---------*/

.row {
    max-width: 1140px;
}


/*---------Heading--------*/

.left {
    float: left;
}

.right {
    float: right;
}